.edit-form__field {
  /* position: relative; */

  padding: 0;
  /* margin-bottom: 32px; */
}

/* .edit-form__field:nth-last-of-type(1) {
  margin-bottom: 45px;
}

@media screen and (max-width: 566px) {
  .edit-form__field {
    margin-bottom: 22px;
  }

  .edit-form__field:nth-last-of-type(1) {
    margin-bottom: 42px;
  }
} */